@font-face {
    font-family: "ZCOOL KuaiLe";
    src: url(assets/fonts/ZCOOLKuaiLe-Regular.ttf);
}
@font-face {
    font-family: "ITC Avant Garde Gothic Std Book";
    src: url(assets/fonts/itc.ttf);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* border-left: solid 2ch black !important; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.side-black {
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    background-color: black;
    z-index: -1;
    height: 100vh;
}
.all-father {
    background-color: white;
    margin-left: 2.9ch;
    border-radius: 30px 0 0 0;
    overflow: clip;
}
.curve-handle-div {
    position: fixed;
    top: 0;
    left: 1ch;
    min-width: 10px;
    width: 10ch;
    height: 55px;
    z-index: 9;
}
.app-bar-head {
    position: sticky;
    top: 3ch;
    border-radius: 30px 0 0 0;
    z-index: 10 !important;
    box-shadow: 0 10px 8px rgba(100, 100, 100, 0.5);
    overflow: clip;
}
.app-bar-order {
    background-color: white;
    display: -webkit-flex;
    padding-left: 6ch;
    padding-right: 6ch;
    line-height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.app-bar-order div {
    display: -webkit-flex;
    align-items: center;
    flex: 0.33;
}
.app-bar-order :nth-child(3) {
    justify-content: center;
    justify-self: left;
    /* flex: 0.2; */
}
.app-bar-links-order {
    margin-top: -10px;
    display: -webkit-flex;
    display: -webkit-flex;
    justify-content: flex-start;
    gap: 3.5ch;
    flex-grow: 0;
    font-family: "ZCOOL KuaiLe";
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.app-bar-socials-order {
    justify-content: flex-end;
    gap: 2ch;
    font-size: 25px;
}
.app-bar-top-decoration {
    height: 3ch;
    position: sticky;
    top: 0;
    display: -webkit-flex;
}
.app-bar-top-decoration div {
    height: 3ch;
    display: -webkit-flex;
    flex: 0.5;
}
.bg-black {
    background-color: black !important;
}
.bg-white {
    background-color: white !important;
}
.bg-trans {
    background-color: #00000000 !important;
}
#logo {
    background-image: url("assets/logo.png");
    width: 3ch;
    height: 3ch;
}
a {
    text-decoration: none;
    color: black;
}
.underlined-link {
    padding-bottom: 13px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin-top: 13px !important;
}
.hero {
    /* margin-top: 10ch; */
    width: 100% !important;
    /* padding-left: 4ch; */
}
.hero-img {
    width: 100%;
    min-height: 26ch;
}
.small-only {
    display: none;
}
.page-option-for-small {
    position: fixed;
    right: 0;
    left: 0;
    /* top: 0; */
    z-index: 0;
    display: -webkit-flex;
    flex-direction: column;
    gap: 13ch;
    height: 100vh;
    /* width: 100%; */
    background-color: white;
}
.page-option-for-small-body {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    gap: 12ch;
    /* width: 100%; */
    background-color: white;
}
.inner-links {
    /* margin-top: -2ch; */
    display: -webkit-flex;
    flex-direction: column;
    font-family: "ZCOOL KuaiLe";
    font-size: 4ch;
    font-weight: bolder;
    gap: 2ch;
}
.inner-socials {
    font-size: 5ch;
    display: -webkit-flex;
    justify-content: center;
    gap: 1ch;
}
button {
    background-color: #00000000;
    border-color: #00000000;
}
.menu-button {
    /* display: block !important; */
    align-items: center;
    font-size: 3ch;
}
.bio-text {
    text-align: left;
    /* font-family: ITC Avant Garde Gothic Std; */
    font-family: "ITC Avant Garde Gothic Std Book", sans-serif;
    font-weight: bold;
    font-size: 20px;
    max-width: 45ch;
    margin-left: 7%;
    margin-right: 7%;
    font-weight: 500;
}
.services-text-branch {
    /* font-weight: 200; */
    font-weight: normal;
}
.services-text-main {
    font-family: "ZCOOL KuaiLe";
    font-size: 7.5ch;
}
.text-divider {
    display: -webkit-flex;
    flex-direction: column;
    gap: 15ch;
    padding-top: 15ch;
}
.services-shower-parent {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4ch;
    margin-left: 2ch;
    margin-right: 2ch;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}
.last-home-div {
    margin-bottom: 20ch;
}
.services-image {
    box-shadow: 0 10px 8px rgba(100, 100, 100, 0.5);
}
.services-image-small {
    width: 22vw;
    /* min-width: 400px; */
    /* height: 493px; */
}
.services-image-large {
    width: 44vw;
    /* min-width: 800px; */
    /* height: 876px; */
}
.services-shower-titles {
    font-family: "ZCOOL KuaiLe";
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 2ch;
}
.services-shower-mini-title {
    font-size: 14px;
}
.services-shower-main-title {
    font-size: 34px;
    margin-top: 1ch;
    text-overflow: clip;
}
@media screen and (max-width: 1290px) {
    .services-image {
        width: 60vw;
        /* height: 55vw; */
        /* min-height: 493px; */
        /* min-width: 350px; */
    }
}
@media screen and (max-width: 780px) {
    body {
        font-size: smaller;
    }
    .services-shower-main-title {
        margin-top: 0.5ch;
    }
    .text-divider {
        gap: 10ch;
        padding-top: 10ch;
    }
    .services-text-main {
        font-size: 5.5ch;
    }
    .app-bar-socials-order {
        display: none !important;
    }
    .all-father {
        margin-left: 0ch;
    }
    .app-bar-order {
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 2ch;
    }
    .app-bar-order div {
        flex: 0.1;
    }
    .app-bar-order {
        padding-left: 1ch;
        padding-right: 3.5ch;
        justify-content: space-between;
    }

    .app-bar-order :nth-child(3) {
        justify-content: flex-start;
    }
    .small-only {
        display: -webkit-flex;
    }
    .big-only {
        display: none !important;
    }
    .app-bar-head {
        top: 0;
        border-radius: 0;
    }
    .services-image {
        width: 80vw;
    }
}
