@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Helvetica Light', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  min-height: 100%;
  position: relative;
  letter-spacing: .8px;
  /* border: 1px solids red; */
}

#root {
  height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  .sw {
    @apply w-[87%] max-screen-w;
  }
  .max-screen-w {
    max-width: 1200px;
  }
  .test {
    border: 1px solid red;
  }


  a {
    @apply text-[#B2B5BA] hover:text-white font-["Helvetica_Bold"];
  }

  h1,h2,h3 {
    @apply !leading-none font-extrabold;
  }
  h1 {
    @apply text-[40px];
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }

  p {
    @apply font-["Helvetica_Medium"];
  }


  b,
  .bolder {
    font-family: 'Helvetica Bold';
  }
  .bgcreative {
    background-image: url('./assets/images/bgcreative.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .btn_sty1 {
    @apply rounded-full bg-transparent font-['Helvetica_Bold'] text-[20px] !tracking-normal text-white px-7 py-1 font-semibold uppercase italic inline-block 
    hover:bg-secondary hover:text-primary duration-300 transition-colors border border-white;
  }
  .btn_sty1.dark {
    @apply bg-black text-white hover:text-black border border-black hover:bg-transparent;
  }

  .brdr-act {
    position: relative;
  }
  .brdr-act::before {
    content: "";
    width: 100%;
    transform: scale(.85);
    border-bottom: 4px solid white;
    border-radius: 200px;
    position: absolute;
    display: block;
    bottom: -7px;
    padding: 1px;
  }

  .grad-tb {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.98) 20%, #111111d7 80%);
  }
  .grad-diag {
    background: linear-gradient(165deg, black 55%, #1d1f21 100%, #363b43 40%);
  }

  .slide {
    animation: slide .3s ease-in-out;
  }
  .slideoff {
    -webkit-animation: slide-out-left 0.3s linear both;
            animation: slide-out-left 0.3s linear both;
  }


  .vidcont:hover > .vid {
    visibility: hidden;
  }
  .vidx::before {
    content: "";
    background: white no-repeat;
    background-image: url('./assets/icons/svg/play.svg');
    background-size: 20px;
    background-position: left 60% center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    padding: 5px;
    border-radius: 100px;
  }
}


@layer components {
  .card-sty1 {
    @apply bg-white rounded-2xl w-full overflow-hidden inline-block self-center;
  } 
  /* max-h-[408px] */
}